node_modules/*
/dist
/.env
/.env.local
/.env.development
/.env.test
/.env.production
/coverage
.DS_Store
*.log
*.tsbuildinfo
.idea
.vscode
*.sublime-workspace
*.sublime-project
*.swp
*.swo
*.bak
*.tmp
*.zip
*.tar.gz
*.tgz
node_modules/.package-lock.json
